### Environment variables for stat-ee
## APP Config
# Application Port
PORT=80
# SSL Cert Required
SSL=false

# Database Config
# Oracle user
ORACLE_USER=oracleuser
# Oracle password
ORACLE_PASSWORD=oraclepassword
# Oracle connect string
ORACLE_CONNECT_STRING=host:port/service_name
# Oracle CA Cert 
# Modify according to your CA's certificate details
ORACLE_CERT_DN='CN=<Common Name>, OU=<Org Unit>, O=<Org>, L=<Location>, ST=<State>, C=<Country>'