/example/node_modules
/node_modules
.env
/tfnev
/dist
/coverage
/stat-ee
stat-ee.tar
.DS_Store
certs/*
models/*
install-manifests/docker-run/models/*
install-manifests/docker-run/certs/*
install-manifests/docker-compose/models/*
install-manifests/docker-compose/certs/*

action/*